In [1]:
# import dependencies
import pandas as pd
import gmaps
import requests

# import api key
import os
from dotenv import load_dotenv
load_dotenv()
g_api_key  = os.getenv("g_api_key")

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Norman Wells,CA,2022-07-18 20:01:30,65.2820,-126.8329,73.98,46,100,4.76
1,1,Khandbari,NP,2022-07-18 20:01:30,27.3747,87.2039,73.24,95,100,0.51
2,2,Zeya,RU,2022-07-18 19:56:46,53.7500,127.2667,61.99,94,100,2.80
3,3,Raymond,US,2022-07-18 20:01:32,43.9015,-70.4703,75.15,82,100,6.24
4,4,Ucluelet,CA,2022-07-18 20:01:33,48.9329,-125.5528,60.10,87,96,1.01

In [3]:
# data types for gmaps must be integers or floats
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_api_key)

# Temperature Heatmap

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Humidity Heatmap

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# % Cloudiness Heatmap

In [8]:
# Heatmap of % cloudiness
locations = city_data_df[["Lat","Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, 
                                 max_intensity=300, point_radius=4)
fig.add_layer(heat_layer) 

fig

Figure(layout=FigureLayout(height='420px'))

# Wind Speed Heatmap

In [9]:
locations = city_data_df[["Lat","Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, 
                                 max_intensity=300, point_radius=4)
fig.add_layer(heat_layer) 

fig

Figure(layout=FigureLayout(height='420px'))

# -------------------------------------------------------------------
# User Input

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Raymond,US,2022-07-18 20:01:32,43.9015,-70.4703,75.15,82,100,6.24
5,5,Halifax,CA,2022-07-18 20:01:34,44.6453,-63.5724,78.49,71,79,8.99
20,20,Kapaa,US,2022-07-18 20:01:44,22.0752,-159.3190,82.72,80,75,16.11
21,21,Katsuura,JP,2022-07-18 20:01:45,35.1333,140.3000,79.03,87,100,19.73
25,25,Butaritari,KI,2022-07-18 20:01:47,3.0707,172.7902,82.27,77,3,18.05
26,26,Kutum,SD,2022-07-18 20:01:48,14.2000,24.6667,84.65,33,58,4.81
28,28,Kahului,US,2022-07-18 19:59:16,20.8947,-156.4700,82.98,81,9,20.00
33,33,Anloga,GH,2022-07-18 20:01:53,5.7947,0.8973,76.80,78,59,13.76
34,34,Marsa Matruh,EG,2022-07-18 20:01:54,31.3525,27.2453,77.40,78,0,13.44
37,37,Georgetown,MY,2022-07-18 19:57:51,5.4112,100.3354,83.89,91,20,2.30

In [12]:
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215 entries, 3 to 593
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     215 non-null    int64
 1   City        215 non-null    object
 2   Country     215 non-null    object
 3   Date        215 non-null    object
 4   Lat         215 non-null    float64
 5   Lng         215 non-null    float64
 6   Max Temp    215 non-null    float64
 7   Humidity    215 non-null    int64
 8   Cloudiness  215 non-null    int64
 9   Wind Speed  215 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 18.5+ KB

# Search for a hotel

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3        Raymond      US     75.15  43.9015  -70.4703
5        Halifax      CA     78.49  44.6453  -63.5724
20         Kapaa      US     82.72  22.0752 -159.3190
21      Katsuura      JP     79.03  35.1333  140.3000
25    Butaritari      KI     82.27   3.0707  172.7902
26         Kutum      SD     84.65  14.2000   24.6667
28       Kahului      US     82.98  20.8947 -156.4700
33        Anloga      GH     76.80   5.7947    0.8973
34  Marsa Matruh      EG     77.40  31.3525   27.2453
37    Georgetown      MY     83.89   5.4112  100.3354

In [14]:
# # Set parameters to search for a hotel.
# params = {
#     "radius": 5000,
#     "type": "lodging",
#     "key": g_api_key
# }

# # iterate through the df
# for index, row in hotel_df.iterrows():
#     # get the latitude and longitude
#     lat = row["Lat"]
#     lng = row["Lng"]
    
#     # add lat and lng to location key for params dictionary
#     params["location"] = f"{lat},{lng}"
    
#     # use search term "lodging" and our lat and lng
#     base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
#     # make request and get json file
#     hotels = requests.get(base_url, params=params).json()
    
#     # Grab the first hotel from the results and store the name.
#     try:
#         hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
#     except (IndexError):
#         print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# #Export the city_data_df to a csv.
# output_data_file = "weather_data/hotels.csv"
# hotel_df.to_csv(output_data_file)

In [15]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Get info for hotel markers
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))